<h4>Dungeon Master</h4>
<p><strong>Name:</strong> <%= @user.name %></p>
<% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, class: 'img-fluid rounded' %>
<% else %>
    <%= image_tag 'avatar_placeholder.png', class: 'img-fluid rounded' %>
<% end %>
<p><strong>Bio</strong>: <%= @user.bio %></p>

Dms, ratings, socials