<h1>Games#index</h1>

<%= render partial: 'search_form' %>

<% @games.each do |game| %>
  <%= render partial: 'game_preview', locals: { game: game } %>
<% end %>
<%= link_to 'New Game', new_game_path, class: 'btn btn-primary' %>
